<head>
    <meta charset='utf-8'>
    <title>MadLibz</title>
   <link href="Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/BaseLayout.css" type="text/css" />
  </head>
<html>
  <body>
    <h1>MadLib Home</h1>

    <p><a href="/StoryForm">A Story!</a></p>
    <p><a href="/OSayForm">Patriotic Nonsense!</a></p>
  </body>
</html>