<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibz</title>
   <link href="Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/BaseLayout.css" type="text/css" />
  </head>
  <body>
    <h1>MadLibz Form</h1>
    <form action="/OSay" method="post">
     <label for="verb1">Type a verb:</label>
     <input id="verb1" name="verb1" type="text" value="Noun">
    <br>
     <label for="noun1">Type a noun:</label>
     <input id="noun1" name="noun1" type="text" value="Verb">
       <br>
      <label for="adverb">Type an adverb:</label>
     <input id="adverb" name="adverb" type="text" value="Adverb">
       <br>
      <label for="verbPast">Type a past tense verb</label>
     <input id="verbPast" name="verbPast" type="text" value="Verb Past Tense">
      <br>
      <label for="pluralNoun1">Type a plural noun</label>
     <input id="pluralNoun1" name="pluralNoun1" type="text" value="Plural Noun">
       <br>
      <label for="pluralNoun2">Type a plural noun</label>
     <input id="pluralNoun2" name="pluralNoun2" type="text" value="Plural Noun">
       <br>
      <label for="adjective1">Type a plural an adjective</label>
     <input id="adjective1" name="adjective1" type="text" value="Adjective">
       <br>
      <label for="pluralNoun3">Type a plural noun</label>
     <input id="pluralNoun3" name="pluralNoun3" type="text" value="Plural Noun">
       <br>
      <label for="verbIng">Type a verb ending in "ing"</label>
     <input id="verbIng" name="verbIng" type="text" value="Verb Ending in ING">
       <br>
      <label for="color">Verb</label>
     <input id="color" name="color" type="text" value="Verb">
       <br>
      <label for="pluralNoun4">Type a plural noun</label>
     <input id="pluralNoun4" name="pluralNoun4" type="text" value="Plural Noun">
       <br>
      <label for="noun2">Type a plural a noun</label>
     <input id="noun2" name="noun2" type="text" value="noun">
       <br>
     <label for="noun3">
      <label for="noun2">Type a plural a noun</label>
     <input id="noun3" name="noun3" type="text" value="Noun">
       <br>
     <label for="interjection">
      <label for="noun2">Type a plural an interjection</label>
     <input id="interjection" name="interjection" type="text" value="Interjection">
       <br>
     <label for="adjective2">Type a plural an adjective</label>
     <input id="adjective2" name="adjective2" type="text" value="Adjective">
       <br>
     <label for="verb2">
      <label for="noun2">Type a plural a verb</label>
     <input id="verb2" name="verb2" type="text" value="Verb">
       <br>
     <label for="adjective3">Type a plural an adjective</label>
     <input id="adjective3" name="adjective3" type="text" value="Adjective">
       <br>
      <label for="adjective4">Type a plural an adjective</label>
     <input id="adjective4" name="adjective4" type="text" value="Adjective">
     <button type="submit" class="btn btn-info">Go!</button>
    </form>
  </body>
</html>